<H1>PATIENT INFORMATION</H1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Demographics</div>
  <div class="panel-body">
    <div class="container">
      <table id="customers" class="table table-striped table-responsive">
        <tr>
          <td><strong>Name:</strong></td>
          <td><strong>Deceased:</strong></td>
        </tr>
        <tr>
          <td><strong>Gender:</strong></td>
          <td><strong>Cause of Death:</strong></td>
        </tr>
        <tr>
          <td><strong>DOB:</strong></td>
          <td><strong>Death Date:</strong></td>
        </tr>
        <tr>
          <td><strong>Age:</strong></td>
          <td><strong></strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<br>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Contacts</div>
  <div class="panel-body">
    <div class="container">
      <table id="customers" class="table table-striped table-responsive">
        <tr>
          <td><strong>Phone Number:</strong></td>
          <td><strong>Alternative Phone Number:</strong></td>
          <td><strong>Caregiver Phone Number:</strong></td>
        </tr>
        <tr>
          <td><strong>Spouse Phone Number:</strong></td>
          <td><strong>Next of Kin Phone Number:</strong></td>
        </tr>
        <tr>
          <td><strong>Caregiver Name:</strong></td>
          <td><strong>Relationship to Caregiver:</strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<br>
<div class="panel panel-default">
<div class="panel-heading">Occupation</div>
  <div class="panel-body">
    <div class="container">
      <table id="customers" class="table table-striped table-responsive">
        <tr>
          <td><strong></strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Highest Education Level</div>
    <div class="panel-body">
      <div class="container">
        <table id="customers" class="table table-striped table-responsive">
          <tr>
            <td><strong></strong></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<div class="panel panel-default">
  <div class="panel-heading">Address</div>
  <div class="panel-body">
    <div class="container">
      <table id="customers" class="table table-striped table-responsive">
        <tr>
          <td><strong>County:</strong></td>
          <td><strong>SubCounty:</strong></td>
       
        </tr>
        <tr>
          <td><strong>Estate/Nearest Center:</strong></td>
          <td><strong>City</strong></td>
        </tr>
        <tr>
          <td><strong>Latitude:</strong></td>
          <td><strong>Longitude:</strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<br>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Identifiers</div>
  <div class="panel-body">
    <div class="container">
      <table id="customers" class="table table-striped table-responsive">
        <tr>
          <td><strong>AMRS Universal Id:</strong></td>
          <td><strong>Location</strong></td>
          <td><strong>Caregiver Phone Number:</strong></td>
        </tr>
        <tr>
          <td><strong>Old AMPATH Medical Record Number:</strong></td>
          <td><strong>Location</strong></td>
        </tr>
        <tr>
          <td><strong>Old AMPATH Medical Record Number:</strong></td>
          <td><strong>Location:</strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>